/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-d8r49maw98]::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/images/wallpaper/bk-code.jpg") no-repeat center center/cover;
    z-index: -1;
    filter: blur(10px); /* Adjust the blur radius as needed */
    -webkit-filter: blur(4px); /* For Safari */
}


.page[b-d8r49maw98] {
    width: 100%;
    height: auto;
    display: flex;
}

main[b-d8r49maw98]{
    width: 70%;
    height: auto;
    padding-top: 0;
    transition: width 0.5s ease-in-out; /* Add transition property */
}

@keyframes slideIn-b-d8r49maw98 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn-b-d8r49maw98 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main:hover[b-d8r49maw98] {
    width: 73%;
}











.logobar[b-d8r49maw98] {
    height: 10vh;
}



.logobar img[b-d8r49maw98] {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: fixed;
    left: 30px;
    top: 22px;
    box-shadow: 0 4px 8px rgba(221, 12, 12, 0.2);
}

.logobar img:hover[b-d8r49maw98] {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(232, 232, 232, 0.4);
}












.content[b-d8r49maw98]{
    width: 100%;
    height: 100%;
    color: white;
    padding: 0;
}

.sidebar[b-d8r49maw98] {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: linear-gradient(to bottom right, #93a6dfdd, #6c86fea7);
    width: 27%;
    ovelrfow: hidden;
    cursor: pointer;
    box-shadow: -2px 0 5px rgba(105, 139, 241, 0.725);
    border-radius: 10px 0 0 10px;
    padding: 20px;
    transition: width 0.5s ease-in-out, background 0.5s ease-in-out;
    animation: slideIn-b-d8r49maw98 1s ease-in-out, fadeIn-b-d8r49maw98 1s ease-in-out;
}

@keyframes slideIn-b-d8r49maw98 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn-b-d8r49maw98 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sidebar:hover[b-d8r49maw98] {
    width: 30%;
    background: linear-gradient(to bottom right, #f8f5f5, #f7ffca);
}





@media (max-width: 900px) {

    

    main[b-d8r49maw98] {
        position: absolute;
        top: 0vh;
        width: 100%;
        height: auto;

    }
    main:hover[b-d8r49maw98] {
        width: 100%;
    }
    
    .logobar[b-d8r49maw98]{
      display: none;
    }
    
    .content[b-d8r49maw98] {
        width: 100%;
        height: 100%;
    }

    .sidebar[b-d8r49maw98] {
left: 0;
width: 100%;
height: 10vh;
border-radius: 0px 0px 0px 0px;
padding: 0;
background-color: rgb(32, 29, 29);
opacity: 1;
    }
    .sidebar:hover[b-d8r49maw98] {
        width: 100%;
    background: linear-gradient(to bottom right, #0000004f, #060606);


    }
    







}
/* /Layout/NavMenu.razor.rz.scp.css */
*[b-3174dpuv28] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.nav-desktop[b-3174dpuv28] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 0px;
    margin: 0;
}

.nav[b-3174dpuv28] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 0px;
    margin: 0;
    padding-top: 50px;
}

.heading[b-3174dpuv28] {
    width: 100%;
    display: flex;
    font-size: 2.9rem;
    padding: 0 10px;
    letter-spacing: 2.4px;
    font-weight: 700;
    transition: 0.71s;
    cursor: pointer;
    margin: 6px 0;
}

.heading:hover[b-3174dpuv28] {
    transform: scale(1.8);
    transform: translateX(30px);
    transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.link-bar[b-3174dpuv28] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 0 0px;
    margin: 0;
    padding-top: 50px;
}

.link-bar ul[b-3174dpuv28] {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.link-bar li[b-3174dpuv28] {
    list-style: none;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 0.71s;
    display: flex;
    width: 100%;
}

.link-bar li:hover[b-3174dpuv28] {
    transform: scale(1.8);
    transform: translateX(30px);
    transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.nav-link[b-3174dpuv28] {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    display: flex;
    align-items: center; /* Center the content vertically */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit color from parent */
    padding: 5px 10px; /* Add some padding */
    transition: background-color 0.3s ease-in-out, text-decoration 0.3s ease-in-out; /* Smooth transition */
}

.nav-link.active[b-3174dpuv28] {
    background-color: rgba(0, 0, 0, 0.59); /* Background color for active link */
    text-decoration: underline; /* Underline the active link */
}

@media (max-width: 900px) {
    .nav-desktop[b-3174dpuv28] {
        display: none;
    }
}
/* /Layout/NavMobile.razor.rz.scp.css */
*[b-jnp4xv35q1]{
    color: white;

}
.nav-mobile[b-jnp4xv35q1]{
    display: none;
}
button[b-jnp4xv35q1]{
    display: none;
}



























@media (max-width: 900px) {
    .nav-mobile[b-jnp4xv35q1] {
        position: absolute;
        top: 0vh;
        display: inline-block;
        width: 100%;
    }
    
    button[b-jnp4xv35q1] {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #1f2122;
        color: wheat;
        z-index: 88;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
    }
    
    button:hover[b-jnp4xv35q1] {
        background-color: #2c3e50;
    }
    
    .dropdown-content[b-jnp4xv35q1] {
        display: none;
        position: absolute;
        background-color: #282626;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 5px;
        padding: 30px;
        width: 100%;
        padding-top: 10vh;
    }
    
    .dropdown-content p[b-jnp4xv35q1] {
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content p:hover[b-jnp4xv35q1] {
        background-color: #373434;
    }
    
    .dropdown-content.show[b-jnp4xv35q1] {
        display: block;
    }
    

    .link-bar[b-jnp4xv35q1] {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        padding: 0 0px;
        margin: 0;
        padding-top: 50px;
    }
    
    .link-bar ul[b-jnp4xv35q1] {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .link-bar li[b-jnp4xv35q1] {
        list-style: none;
        padding: 10px 0;
        font-size: 1rem;
        font-weight: 900;
        letter-spacing: 1.5px;
        cursor: pointer;
        transition: 0.71s;
        display: flex;
        width: 100%;
    }
    
    .link-bar li:hover[b-jnp4xv35q1] {
        transform: scale(1.8);
        transform: translateX(30px);
        transition: transform 0.5s ease-in-out; /* Smooth transition */
    }
    
    .nav-link[b-jnp4xv35q1] {
        width: 100%;
        height: 100%;
        border: 2px solid white;
        display: flex;
        align-items: center; /* Center the content vertically */
        text-decoration: none; /* Remove default underline */
        color: inherit; /* Inherit color from parent */
        padding: 5px 10px; /* Add some padding */
        transition: background-color 0.3s ease-in-out, text-decoration 0.3s ease-in-out; /* Smooth transition */
    }
    
    .nav-link.active[b-jnp4xv35q1] {
        background-color: rgba(0, 0, 0, 0.59); /* Background color for active link */
        text-decoration: underline; /* Underline the active link */
    }















}
/* /Pages/About.razor.rz.scp.css */
.cantainer[b-iw4xd0vgqj]{
    position: absolute;
    top: 0;
    left: 0;
    width: 73vw;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #211e1e;
}
/* /Pages/Blogs.razor.rz.scp.css */
.cantainer[b-lrmqyf7bys]{
    position: absolute;
    top: 0;
    left: 0;
    width: 73vw;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #211e1e;
}
/* /Pages/Contact.razor.rz.scp.css */
h3[b-pgto58z4h8] {
    text-align: center;
    font-size: 3rem;
}
.form-container[b-pgto58z4h8] {
    width: 73vw;
    background-color: rgb(37, 37, 37);
    padding: 20px;
    border-radius: 5px;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    padding-top: 30vh;

    color: white;
    margin: auto;
    z-index: -1;
}

.email-box[b-pgto58z4h8] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: auto;
}

.form-group[b-pgto58z4h8] {
    margin-bottom: 15px;
    width: 100%;
    margin: auto;
    margin-top: 19px;
    margin-bottom: 10px;
    outline: none;
    border: none;
}

.form-control[b-pgto58z4h8] {
    width: 100%;
    padding: 10px;
    background-color: rgb(84, 84, 84);
     outline: none;
    border: none;
    color: white;
}

.btn[b-pgto58z4h8] {
    padding: 10px 40px;
    margin: auto;
    margin: 10px;
    margin-left: 0;
    background-color: rgb(19, 89, 19);
    border: none;
}
.btn:hover[b-pgto58z4h8] {
    background-color: rgb(25, 125, 25);
}

@media (max-width: 900px) {
    .form-container[b-pgto58z4h8] {
        width: 100vw;
    }
    .email-box[b-pgto58z4h8] {
        width: 90%;
    }
}
/* /Pages/Home.razor.rz.scp.css */
*[b-3xbzc57j8c]{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main[b-3xbzc57j8c]::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 73%;
    height: 55vh;
    z-index: -1;
    opacity: .81;
    background: url('/assets/images/logos/home-5.jpg') no-repeat center center/cover;
    transition: .9s;
}
main:hover[b-3xbzc57j8c]::before{
    opacity: 1;
    background: url('/assets/images/wallpaper/Because.jpg') no-repeat center center/cover;
    transition: .9s;
    opacity: .9;

}

.cantainer[b-3xbzc57j8c]{
    display: flex;
    flex-direction: column;
    width: 73vw;
    height: auto;
    margin: 0;
background-color: rgba(255, 255, 255, 0);    
padding-top: 45vh ;
}

.home[b-3xbzc57j8c]{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 32, 32, 0.986);
    width: 100%;
    padding-inline: 4rem;
height: 47vh;
}
.home-title[b-3xbzc57j8c]{
    color: rgb(242, 252, 178);
    font-weight: 600;
    letter-spacing: 6px;
    
}
.intro[b-3xbzc57j8c]{
    color: rgb(242, 252, 178);
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 1rem;
    width: 80%;
}
.buttons-intro[b-3xbzc57j8c]{
    display: flex;
    padding: 5px;
    padding-left: 0;
    width: 60%;
    justify-content: space-between;
    padding-left: 0;
}
.buttons-intro a[b-3xbzc57j8c]{
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    color: rgb(250, 255, 221);
    border: 1px solid rgb(242, 252, 178);
    font-weight: 600;
    cursor: pointer;
    transition: .6s;
    margin: 0;
    margin-top: 22px;
}
.buttons-intro a:hover[b-3xbzc57j8c]{
    background-color: rgb(242, 252, 178);
    color: rgb(36, 32, 32);
    transition: .6s;
}

.work[b-3xbzc57j8c]{
    background-color: rgba(36, 32, 32, 0.986);
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-inline: 2rem;
    justify-content: start;
    padding-inline: 2rem;


}
.section-title[b-3xbzc57j8c]{
    color: rgb(242, 252, 178);
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 1.7rem;
    margin-top: 1rem;
}
.box[b-3xbzc57j8c]{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin-top: 1rem;
}
.box-of-work[b-3xbzc57j8c]{
    display: flex;
    width: 500px;
    margin: 10px;
    background-color: rgba(42, 37, 37, 0.986);
    box-shadow: -2px -2px 1px rgba(248, 235, 235, 0.068);
    border-radius: 10px;
    transition: .6s;
    padding: 20px;
    
}
.box-of-work:hover[b-3xbzc57j8c]{
    transform: scale(1.01);
    transition: .6s;
}

.imgimg[b-3xbzc57j8c]{
    width: 30%;
    height: 100%;
    border-radius: 10px;
}
.imgimg img[b-3xbzc57j8c]{
    width: 70%;
    height: 100%;
    border-radius: 10px;
}
#desktop-img[b-3xbzc57j8c]{
    width: 90%;
    height: 80%;
    border-radius: 10px;
}
.work-name[b-3xbzc57j8c]{
    color: rgb(250, 250, 233);
    width: 90%;
    display: flex;
    align-content: justify;
    padding: 5px;
}
.work-intro[b-3xbzc57j8c]{
    color: rgb(199, 199, 196);
    width: 90%;
    display: flex;
    align-content: justify;
    font-size: 0.8rem;
    padding: 5px;
}











@media (max-width: 900px) {
    main[b-3xbzc57j8c]::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 55vh;
        z-index: -1;
        opacity: .81;
        background: url('/assets/images/logos/home-5.jpg') no-repeat center center/cover;
        transition: .9s;
    }
    .cantainer[b-3xbzc57j8c]{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
        padding-top: 45vh ;
    }
    .home[b-3xbzc57j8c]{
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: rgba(36, 32, 32, 0.986);
        width: 100%;
        padding-inline: 2rem;
        height: auto;
    }
    .home-title[b-3xbzc57j8c]{
        color: rgb(242, 252, 178);
        font-weight: 600;
        letter-spacing: 6px;
        font-size: 1.6rem;
        
    }
    .intro[b-3xbzc57j8c]{
        color: rgb(242, 252, 178);
        font-weight: 400;
        letter-spacing: 2px;
        margin-top: 1rem;
        width: 100%;
        font-size: 0.71rem;
    }
    .buttons-intro[b-3xbzc57j8c]{
        display: flex;
        padding: 5px;
        padding-left: 0;
        width: 100%;
        justify-content: flex-start;
        padding-left: 0;
    }
    .buttons-intro a[b-3xbzc57j8c]{
        text-decoration: none;
        margin: 0 10px;
        padding: 8px 15px;
        border: none;
        color: rgb(250, 255, 221);
        border: 1px solid rgb(242, 252, 178);
        font-weight: 300;
        cursor: pointer;
        transition: .6s;
        margin: 12px;
        margin-top: 22px;
        font-size: 0.8rem;
        margin-left: 0;
        margin-right: 19px;
    }
    .buttons-intro a:hover[b-3xbzc57j8c]{
        background-color: rgb(242, 252, 178);
        color: rgb(36, 32, 32);
        transition: .6s;
    }
    
}



@media (max-width: 500px) {
    .box-of-work[b-3xbzc57j8c]{
        width: 100%;     
        padding: 7px;
        
    }
    


    .section-title[b-3xbzc57j8c]{
    font-size: 1.1rem;
    }

    .box-of-work:hover[b-3xbzc57j8c]{
        transform: scale(1.01);
        transition: .6s;
    }
    .imgimg[b-3xbzc57j8c]{
        width: 40%;
        height: 100%;
        border-radius: 10px;
    }
    .work-name[b-3xbzc57j8c]{
        color: rgb(250, 250, 233);
        width: 95%;
        display: flex;
        align-content: justify;
        font-size: 1rem;
    }
    .work-intro[b-3xbzc57j8c]{
        font-size: 0.6rem;
    }








}
/* /Pages/Projects.razor.rz.scp.css */
.cantainer[b-svnodx9rjc]{
    position: absolute;
    top: 0;
    left: 0;
    width: 73vw;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #211e1e;
}
