.page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/images/wallpaper/bk-code.jpg") no-repeat center center/cover;
    z-index: -1;
    filter: blur(10px); /* Adjust the blur radius as needed */
    -webkit-filter: blur(4px); /* For Safari */
}


.page {
    width: 100%;
    height: auto;
    display: flex;
}

main{
    width: 70%;
    height: auto;
    padding-top: 0;
    transition: width 0.5s ease-in-out; /* Add transition property */
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main:hover {
    width: 73%;
}











.logobar {
    height: 10vh;
}



.logobar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: fixed;
    left: 30px;
    top: 22px;
    box-shadow: 0 4px 8px rgba(221, 12, 12, 0.2);
}

.logobar img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(232, 232, 232, 0.4);
}












.content{
    width: 100%;
    height: 100%;
    color: white;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: linear-gradient(to bottom right, #93a6dfdd, #6c86fea7);
    width: 27%;
    ovelrfow: hidden;
    cursor: pointer;
    box-shadow: -2px 0 5px rgba(105, 139, 241, 0.725);
    border-radius: 10px 0 0 10px;
    padding: 20px;
    transition: width 0.5s ease-in-out, background 0.5s ease-in-out;
    animation: slideIn 1s ease-in-out, fadeIn 1s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sidebar:hover {
    width: 30%;
    background: linear-gradient(to bottom right, #f8f5f5, #f7ffca);
}





@media (max-width: 900px) {

    

    main {
        position: absolute;
        top: 0vh;
        width: 100%;
        height: auto;

    }
    main:hover {
        width: 100%;
    }
    
    .logobar{
      display: none;
    }
    
    .content {
        width: 100%;
        height: 100%;
    }

    .sidebar {
left: 0;
width: 100%;
height: 10vh;
border-radius: 0px 0px 0px 0px;
padding: 0;
background-color: rgb(32, 29, 29);
opacity: 1;
    }
    .sidebar:hover {
        width: 100%;
        background-color: rgb(32, 29, 29);

    }
    







}
