@inherits LayoutComponentBase


<div class="page">

    <main>
        <header class="logobar">
            <img src="/assets/images/logos/home-2.jpg" alt="">
        </header>
        <article class="content">
            @Body
        </article>
    </main>



    <div class="sidebar">
        <NavMenu />
        <NavMobile />
    </div>
</div>
