    <button @onclick="ToggleDropdown">@dropdownClass</button>
<div class="nav-mobile">
    <div class="dropdown-content @(isDropdownOpen ? "show" : "")">
      <nav class="link-bar">
        <ul>
            <li>
                <NavLink href="/" class="nav-link" match="NavLinkMatch.Prefix" activeClass="active">
                    <i class="fas fa-home"></i> Home
                </NavLink>
            </li>
            <li>
                <NavLink href="/about" class="nav-link" match="NavLinkMatch.Prefix" activeClass="active">
                    <i class="fas fa-info-circle"></i> About
                </NavLink>
            </li>
            <li>
                <NavLink href="/projects" class="nav-link" match="NavLinkMatch.Prefix" activeClass="active">
                    <i class="fas fa-concierge-bell"></i> Projects
                </NavLink>
            </li>
            <li>
                <NavLink href="/contact" class="nav-link" match="NavLinkMatch.Prefix" activeClass="active">
                    <i class="fas fa-envelope"></i> Contact
                </NavLink>
            </li>
        </ul>
    </nav>
    </div>
</div>

@code {
    private bool isDropdownOpen = false;
    private string dropdownClass = " ☰ ";

    private void ToggleDropdown()
    {

        dropdownClass = isDropdownOpen ? " ☰ " : " X ";
        isDropdownOpen = !isDropdownOpen;
    }
}
