* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.nav-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 0px;
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 0px;
    margin: 0;
    padding-top: 50px;
}

.heading {
    width: 100%;
    display: flex;
    font-size: 2.9rem;
    padding: 0 10px;
    letter-spacing: 2.4px;
    font-weight: 700;
    transition: 0.71s;
    cursor: pointer;
    margin: 6px 0;
}

.heading:hover {
    transform: scale(1.8);
    transform: translateX(30px);
    transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.link-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 0 0px;
    margin: 0;
    padding-top: 50px;
}

.link-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.link-bar li {
    list-style: none;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 0.71s;
    display: flex;
    width: 100%;
}

.link-bar li:hover {
    transform: scale(1.8);
    transform: translateX(30px);
    transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.nav-link {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    display: flex;
    align-items: center; /* Center the content vertically */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit color from parent */
    padding: 5px 10px; /* Add some padding */
    transition: background-color 0.3s ease-in-out, text-decoration 0.3s ease-in-out; /* Smooth transition */
}

.nav-link.active {
    background-color: rgba(0, 0, 0, 0.59); /* Background color for active link */
    text-decoration: underline; /* Underline the active link */
}

@media (max-width: 900px) {
    .nav-desktop {
        display: none;
    }
}
