@page "/"

<PageTitle>Home</PageTitle>

<main class="cantainer">
    <section class="home">
        <h1 class="home-title">
            Growing up with
        </h1>
        <h1 class="home-title">
            Web development
        </h1>
        <p class="intro">
            I'm Rizwan Ahmed,Ahmed Ahmed dedicated Web and app developer passionate about crafting innovative digital solutions.
            </p>
<span class="buttons-intro">
    <a href="/about"><i class="fas fa-book"></i> Read More</a>
    <a href="/about"><i class="fas fa-briefcase"></i> See My Work</a>
</span>


    </section>

</main>